@function calcSize($n) {
  @if $n < 0 {
    @return Min(12px, Max(calc($n / (430 / 100vw)), calc($n * 1.5px)));
    // @return clamp(12px, calc($n / (430 / 100vw)), calc($n * 1.5px));
  } @else {
    @return clamp(12px, calc($n / (430 / 100vw)), calc($n * 1.5px));
  }
}

.body-modal-open {
  overflow: hidden !important;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  touch-action: none !important;
  -webkit-overflow-scrolling: auto !important;
  
  // Дополнительные стили для iOS Safari
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  
  // Предотвращаем скролл на touch-устройствах
  overscroll-behavior: none !important;
  -webkit-overscroll-behavior: none !important;
  
  // Предотвращаем скролл на мобильных устройствах
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
