@import '/scss/breakpoints';



.button__text {
  position: relative;
  font-size: var(--font-size-14);
  line-height: 90%;
  font-family: var(--font-roboto);
  color: var(--color-midnightblue);
  text-align: right;
}

.button__icon {
  // height: 100%;
  display: block;
  position: relative;
  svg {
    display: block;
    stroke: #fff;
    max-width: 100%;
    max-height: 100%;
  }
}

.textarea {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 20px;

  &_pay {
    grid-template-columns: minmax(0, 1fr);
    gap: 10px;

    @media (min-width: 768px) {
      grid-template-columns: minmax(0, 240px) minmax(0, 1fr);
    }

    .modal__form & {
      margin: 10px 0 0 !important;
    }
  }
}

.textarea__label-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.textarea__label-required {
  color: var(--color-red);
}

.textarea__label-desc {
  display: block;
  color: var(--color-secondary);

  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 10.8px */

  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.textarea__element {
  background: #fff;
  border-radius: 8px;
  height: 36px;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  resize: none;
  min-height: 180px;
  outline: none;

  @media (min-width: 768px) {
    font-size: 20px;
    height: 60px;
  }
}
