@tailwind base;
@tailwind components;
@tailwind utilities;

@import '/scss/breakpoints';

:root {
  --color-button-bg: #e9692c;
  --color-button-bg_hover: #fa7a3d;
  --color-button-text: #fff;
  --color-button-text_hover: #fff;

  --color-button-bg_secondary: #002e49;

  --color-button-bg_secondary: #018ad5;
  --color-button-bg_secondary_hover: #129be6;
  --color-button-text_secondary: #fff;

  --color-button-text_secondary_hover: #fff;

  --color-button-bg_disabled: #ced9f0;
  --color-button-text_disabled: #f0eff5;

  --color-bg-main: #008ad5;
  --color-bg-white: #fff;

  --color-bg-darken: #002e49;
  --color-bg-darken-100: rgba(0, 0, 0, 0.1);
  --color-bg-darken-200: rgba(0, 0, 0, 0.2);
  --color-bg-darken-300: rgba(0, 0, 0, 0.3);
  --color-bg-darken-400: rgba(0, 0, 0, 0.4);
  --color-bg-darken-500: rgba(0, 0, 0, 0.5);
  --color-bg-darken-600: rgba(0, 0, 0, 0.6);
  --color-bg-darken-700: rgba(0, 0, 0, 0.7);
  --color-bg-darken-800: rgba(0, 0, 0, 0.8);
  --color-bg-darken-900: rgba(0, 0, 0, 0.9);

  --color-accent: #e9692c;
  --color-white: #fff;
  --color-primary: #fff;
  --color-primary-contrast: #13242e;

  --color-red: #f00;

  --transition-base: all 0.2s ease-in;
}

.color-accent {
  color: var(--color-accent);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

main {
  display: block;
  min-height: calc(100vh - calcSize(182));
}

.page-wrapper {
  max-width: calcSize(430);
  margin-left: auto;
  margin-right: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-primary);
  text-align: left;
  direction: ltr;
  background: var(--color-bg-main);
  scroll-behavior: smooth;
  letter-spacing: 0.005em;
  position: relative;
}

.bg-white {
  background: var(--color-bg-white);
  color: var(--color-primary-contrast);
}

button {
  cursor: pointer;
}

main {
  display: block;
}

img {
  max-width: 100%;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 500;
}

h4 {
  font-weight: 500;
}

h5 {
  font-weight: 500;
}

h6 {
  font-weight: 500;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: calcSize(430);
  padding-left: calcSize(16);
  padding-right: calcSize(16);
}

.cource-bottom-bg {
  background: url('../images/cource-bottom-bg.png') no-repeat center bottom;
  background-size: 100% auto;
  aspect-ratio: 430 / 464;
}

@import '../components/button/button.scss';
@import '../components/button/input.scss';
@import '../components/header/header.scss';
@import '../components/hero/hero.scss';
@import '../components/to-learn/to-learn.scss';
@import '../components/about/About.scss';
@import '../components/way/way.scss';
@import '../components/footer/footer.scss';
@import '../components/logo/logo.scss';
@import '../components/modal/modal.scss';
