section(class="to-learn")
    div(class="to-learn__grid")
        div(class="to-learn__card")
            h2(class="to-learn__title") Научитесь быстро читать расклады 
            p универсальной колоды Таро, используя подробные трактовки карт в&nbsp;удобном формате
        div(class="to-learn__illustration")

            img(src="i/to-learn.png" alt="", srcset="")

            div(class="to-learn__illustration-text")
                div(class="to-learn__illustration-text-desc").
                    Благодарим<br> 
                    за переход<br> 
                    по QR-коду<br> 
                    и приветствуем<br> 
                    на обучающем<br> 
                    курсе!
                div(class="to-learn__illustration-text-icon")
                    include /svg/to-learn-like.svg

        div(class="to-learn__card")
            p Курс снят по&nbsp;книге &laquo;Настоящее таро Уэйта. История создания и&nbsp;тайны вокруг колоды.&nbsp;1919&nbsp;г.&raquo; и&nbsp;обучит вас работе с&nbsp;самой известной колодой в&nbsp;мире.
