.onboarding {
  padding: calcSize(40) calcSize(40) calcSize(56);
  position: relative;

  h1 {
    font-size: calcSize(35);
    font-style: italic;
    font-weight: 700;
    line-height: 110%;
    position: relative;
    z-index: 1;
    margin-bottom: calcSize(32);
  }
}

.onboarding__content {
  &--blurred {
    filter: blur(4px);
    pointer-events: none;
  }
}

.onboarding__item {
  display: none;

  &.active {
    display: block;
  }
}

.onboarding__buttons {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: calcSize(18);
  margin-top: calcSize(24);

  &_last {
    grid-template-columns: minmax(0, 1fr);
  }
}

.onboarding__description {
  font-size: calcSize(18);
  font-style: normal;
  font-weight: 400;
  line-height: 118.5%;

  p {
    margin-bottom: calcSize(22);
  }
}

.onboarding__image {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  box-sizing: border-box;
  img, .next-image, .next-image img {
    width: 100% !important;
    height: auto !important;
    display: block;
    object-fit: contain;
  }
}

@media (max-width: 480px) {
  .onboarding__image {
    max-width: 100vw;
  }
}

.onboarding__screen-image {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}
